<!DOCTYPE html>
<html>

  <head>
    <title>filling layout</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body align="center">

		<h1 align="center">SignUp</h1>

<input type="text" name="name" value="" align="center">
<br>
<input type="email" name="email" value="" align="center">
<br>
<input type="password" name="pass" value="" align="center">
<br>
<input type="password" name="repass" value="" align="center">
<br>
<input type="button" name="submit" value="Register" align="center">
<a href="/"><input type="button" name="submit" value="back" align="center"></a>
  
  </body>
</html>
